body {
    background-image: url('../../images/mongoose_fight.jpg');
    background-repeat: repeat;
}

#topBar {
    position: relative;
    color: black;
}

a:link, a:visited {
    font-family: Times, sans-serif;
    color: black;
    text-decoration: none;
}

a:link:hover, a:visited:hover {
    font-family: Times, sans-serif;
    font-weight: bold;
}

#topBar input[type=submit] {
    font-family: Times, sans-serif;
    color: black;
    text-decoration: none;
    font-size: 16px;
    float:right;
}

#topBar input[type=submit]:hover {
    font-family: Times, sans-serif;
    font-weight: bold;
}

#topBar input[type=submit] + a {
    padding: 3px;
}

#topBar a + a {
    padding: 3px;
}

#mainBox {
    margin: auto;
    width: 1010px;
    height: auto;
}

#top {
    position: relative;
    background-image: url('../../images/top_bar.png');
    background-repeat: no-repeat;
    opacity: 0.96;
    padding: 50px;
    border: 5px groove white;
}

#schedule {
    position: relative;
    border: 2px groove black;
    padding: 5px;
    background-color: lightblue;
    opacity: 0.96;
    font-family: Times, sans-serif;
    font-size: 14px;
    text-align: center;
}

#navBar {
    border: 2px groove black;
    background-color: lightblue;
    opacity: 0.96;
    float: left;
    padding: 5px;
    font-family: Times, sans-serif;
    font-size: 22px;
    text-align: center;
    width: 160px;
}

#content {
    border: 2px groove black;
    background-color: #0A2540;
    color: black;
    opacity: 0.96;
    padding: 5px;
    font-family: Times, sans-serif;
    font-size: 17px;
    text-align: center;
    width: 810px;
    float: right;
}

#navBar input[type=submit] {
    font-family: Times, sans-serif;
    font-size: 22px;
}

#navBar input[type=submit]:hover {
    font-weight: bold;
}

#content table {
    border-collapse: collapse;
    background-color: lightblue;
}
#content table, #content td, #content tr, #content th {
    text-align: center;
    border: 2px groove black;
    font-family: Times, sans-serif;
    font-size: 17px;
    padding: 5px;
}

h1 {
    font-family: Times, sans-serif;
    border: 5px groove black;
    background-color: orangered;
}

h2 {
    font-family: Times, sans-serif;
    text-decoration: underline;
}

h3 {
    float: left;
    font-family: Times, sans-serif;
    font-size: 26px;
    background-color: lightblue;
    border: 2px groove black;
}

h4 {
    float: right;
    font-family: Times, sans-serif;
    font-size: 26px;
    background-color: lightblue;
    border: 2px groove black;
}

#content input[type=text] {
    font-family: Times, sans-serif;
    width: 400px;
    font-size: 30px;
    padding: 2px;
}

#integratedBox{
    width: 1010px;
    float:left;
    height: auto;  
}

#leftBox{
    width: 160px;
    height: max-content;
}

#rightBox{
    width: 840px;
    height: auto;    
}

.scheduleTable {
    alignment-adjust: central;
    margin-left: 200px;
}

.TableHeader{
    font-size: 25px;
    font-weight: bolder;
}

.whiteText{
    color:white;
}